{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static "images/fevicon.png" %}" type="">

  <title> Carint </title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- Agrega el enlace a la hoja de estilos de Owl Carousel -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

  <!-- font awesome style -->
  <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static "css/style.css" %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static "css/responsive.css" %}" rel="stylesheet" />

</head>

<body>
  <style>
    .heading_container h2 span,.header_section .header_top .contact_nav a i,.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link,.service_section .box .detail-box a:hover,
    .info_section .info_contact .contact_link_box a:hover,.info_section .info_social a:hover,.info_section .info_links a:hover  {
      color: {{theme.button_colors}};
    }
    .slider_section .detail-box .btn-box .btn1,.slider_section .carousel-indicators li.active,.about_section .detail-box a,.track_section form button,.client_section .owl-carousel .owl-nav .owl-prev,
    .client_section .owl-carousel .owl-nav .owl-next,.contact_section .form_container button,  {
      background-color: {{theme.button_colors}};
      background: {{theme.button_colors}};
    }
    .header_section .header_top .contact_nav a:hover i ,.slider_section .detail-box ,.service_section .box .detail-box a ,.contact_section .form_container input::-webkit-input-placeholder,
    .contact_section .form_container input:-ms-input-placeholder,.contact_section .form_container input::-ms-input-placeholder,.contact_section .form_container input::placeholder,.footer_section p{
      color: {{theme.main_color}}
    }
    .header_section .header_top,.about_section .img-box::before,.about_section .img-box::after,.info_section,.slider_section .detail-box .btn-box .btn1:hover  {
      background-color: {{theme.main_color}}
    }
  </style>
  <div id="cover" class="hidden"><img src="{% static "images/loading.gif" %}"></div>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div style='padding: 20px' class="header_top">
        <div class="container-fluid ">
          <div class="contact_nav">
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span><span id='call' class="translate">Call</span>: {{header.phone}}</span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span><span id='topheaderemail' class="translate">Email</span>: {{header.email}}</span>
            </a>
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span><span>{{header.location}}</span></span>
            </a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="index.html">
              <span>
                Carint
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a id='home-nav-link' class="nav-link translate" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a id='service-nav-link' class="nav-link translate" href="#Services">Services</a>
                </li>
                <li class="nav-item">
                  <a id='about-nav-link' class="nav-link translate" href="#About"> About</a>
                </li>
                <li class="nav-item">
                  <a id='contact-nav-link' class="nav-link translate" href="#Contact">Contact Us</a>
                </li>
                <li style="display:flex;" class="nav-item">
                  <div style="display:flex;margin:0 auto">
                  <a class="nav-link lang-change" lang="es"><img style="height:20px;transform:scale(2)" src="{% static "images/es.png" %}"></a>
                  <a class="nav-link lang-change" lang="en"><img style="height:20px;transform:scale(2)" src="{% static "images/en.png" %}"></a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div style="background-image:url({{carrousel.image.url}})" class="carousel-item active">
            <span class="overlay"></span>
            <div class="detail-box position-relative">
              <h1 style="max_width:600px" class="translate" id="h11">{{carrousel.title}}</h1>
              <p class="translate" id="p1">{{carrousel.sub_title}}</p>
              <div class="btn-box">
                <a href="{{carrousel.button_link}}" style="background-color:{{theme.button_colors}}" id="car-btn1" class="btn1 btn translate">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div style="background-image:url({{carrousel.image_1.url}})" class="carousel-item">
            <span class="overlay"></span>
            <div class="detail-box position-relative">
              <h1 style="max_width:600px" class="translate" id="h22">{{carrousel.title_1}}</h1>
              <p class="translate" id="p2">{{carrousel.sub_title_1}}</p>
              <div class="btn-box">
                <a href="{{carrousel.button_link_1}}" style="background-color:{{theme.button_colors}}" id="car-btn2" class="btn1 btn translate">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div style="background-image:url({{carrousel.image_2.url}})" class="carousel-item">
            <span class="overlay"></span>
            <div class="detail-box position-relative">
              <h1 style="max_width:600px" class="translate" id="h33">{{carrousel.title_2}}</h1>
              <p class="translate" id="p3">{{carrousel.sub_title_2}}</p>
              <div class="btn-box">
                <a href="{{carrousel.button_link_2}}" style="background-color:{{theme.button_colors}}" id="car-btn3" class="btn1 btn translate">
                  Read More
                </a>
              </div>
            </div>
          </div>

        </div>
        <ol style="position:absolute" class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section id="Services" class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2 class="translate" id="h2services">Our <span>Services</span></h2>
          
          <p class="translate" id="servicessubtitle">{{service.sub_title}}</p>
        </div>
        <div class="row">
          {% for s in service.items.all %}
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{{s.image.url}}" alt="">
              </div>
              <div class="detail-box">
                <h5 class="translate" id="boxservice-name-{{forloop.counter}}">{{s.name}}</h5>
                <div class="translate parrafo-small" id="boxservice-details-{{forloop.counter}}">
                  {{s.datails}}
                </div>
                <a style="cursor:pointer;padding:5px 2px" class="translate btnreadmore" text="boxservice-details-{{forloop.counter}}" id="readmore-s-{{s.pk}}">
                  Read More
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% comment %} <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Cargo Transport
                </h5>
                <p>
                  fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  The
                  point of using
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Trucks Transport
                </h5>
                <p>
                  fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  The
                  point of using
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/s4.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Train Transport
                </h5>
                <p>
                  fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  The
                  point of using
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section id="About" class="about_section layout_padding-bottom">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div style='padding: 0 0 40px 0' class="detail-box">
            <div class="heading_container">
              <h2 class="translate" id="aboutusid">About <span>Us</span></h2>
            </div>
            <h4 class="translate" id="h4about">{{about.title}}</h4>
            <p class="translate parrafo-small" id="aboutp">{{about.detail}}</p>
            <a class="translate btnreadmore" text="aboutp" id="readmoreabout" style="background-color:{{theme.button_colors}}">{{about.read_more}}</a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img style="width:100%" src="{{about.image.url}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- track section -->

  <section class="track_section layout_padding">
    <div class="track_bg_box">
      <img src="{{track.image.url}}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="heading_container">
            <h2 id="trackh1" class="translate">{{track.title}}</h2>
          </div>
          <p class="translate" id="track-p">{{track.detail|linebreaksbr}}</p>
          <form action="">
            <input class="translate placeholder-translate" id="placeholder" type="text" placeholder="{{track.number_text}}" />
            <button class="translate" id="trackbtn" style="background:{{theme.button_colors}}" type="submit">{{track.btn}}</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end track section -->

  <!-- client section -->
{% if review.reviews.count > 0 %}
  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2 style="padding:20px" class="translate" id='wsoc'>
          What Says Our <span>Client</span>
        </h2>
      </div>
      <div class="client_container">
        <div class="carousel-wrap ">
          <div class="owl-carousel">
            {% for r in review.reviews.all %}
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p class="translate" id="rp-{{r.pk}}">
                    {{r.review}}
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img style="border-radius:90px;height:60px;width:60px" src="{{r.image.url}}" alt="" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                      {{r.name}}
                    </h6>
                    {% comment %} <p>
                      Magna
                    </p> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% comment %} <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="images/client-1.png" alt="" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                      Adipiscing
                    </h6>
                    <p>
                      Magna
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="images/client-2.png" alt="" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                      Adipiscing
                    </h6>
                    <p>
                      Magna
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="images/client-1.png" alt="" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                      Adipiscing
                    </h6>
                    <p>
                      Magna
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="detail-box">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  </p>
                </div>
                <div class="client_id">
                  <div class="img-box">
                    <img src="images/client-2.png" alt="" class="img-1">
                  </div>
                  <div class="name">
                    <h6>
                      Adipiscing
                    </h6>
                    <p>
                      Magna
                    </p>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}
  <!-- end client section -->

  <!-- contact section -->
  <section id="Contact" class="contact_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="heading_container">
            <h2>
              Contact Us
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="form_container contact-form">
            <form action="">
              <div>
                <input class="translate placeholder-translate" id="ph-yn" type="text" placeholder="{{contact.name}}" />
              </div>
              <div>
                <input class="translate placeholder-translate" id="ph-pn" type="text" placeholder="{{contact.phone}}" />
              </div>
              <div>
                <input class="translate placeholder-translate" id="ph-e" type="email" placeholder="{{contact.email}}" />
              </div>
              <div>
                <input class="translate placeholder-translate message-box" id="ps-mb" type="text" placeholder="{{contact.message}}" />
              </div>
              <div class="btn_box">
                <button style="background:{{theme.button_colors}}">
                  {{contact.send_text}}
                </button>
              </div>
            </form>
          </div>
          <br><br>
        </div>
        <div class="col-md-6 px-0">
          <div class="map_container">
            <div class="map">
              <iframe width="100%" height="400px" style="border:none" src="{{contact.map_link}}"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4 class='translate' id='footer-address'>
              Address
            </h4>
            <div class="contact_link_box">
              <a>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span class="translate" id='foo-loc'>
                  {{footer.location}}
                </span>
              </a>
              <a href="tel:{{footer.phone}}">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  {{footer.phone}}
                </span>
              </a>
              <a href="mailto:{{footer.email}}">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  {{footer.email}}
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            {% if not footer.facebook == None %}
            <a href="{{footer.facebook}}">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            {% endif %}

            {% if not footer.twitter == None %}
            <a href="{{footer.twitter}}">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            {% endif %}

            {% if not footer.linked_in == None %}
            <a href="{{footer.linked_in}}">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            {% endif %}

            {% if not footer.instagram == None %}
            <a href="{{footer.instagram}}">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            {% endif %}

          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4 class="translate" id='foo-tt'>
              {{footer.title}}
            </h4>
            <p class="translate" id='foo-info'>
            {{footer.info}}  
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4 class="translate" id='foo-links'>
              Links
            </h4>
            <div class="info_links">
              <a class="active" href="#">
                <img src="images/nav-bullet.png" alt="">
                Home
              </a>
              <a class="" href="#About">
                <img src="images/nav-bullet.png" alt="">
                About
              </a>
              <a class="" href="#Services">
                <img src="images/nav-bullet.png" alt="">
                Services
              </a>
              <a class="" href="#Contact">
                <img src="images/nav-bullet.png" alt="">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
          <h4 class="translate" id='foo-Subscribe'>
            Subscribe
          </h4>
          <form id='subscribe-form' type="POST" action="{% url "sub" %}">
            <input type="email" class="translate placeholder-translate" name='email' id='foo-sus-ph' placeholder="{{subscribe.email}}" />
            <button style='background:{{theme.button_colors}}' type="submit">
              {{subscribe.texto_submit}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <p>
        {{subscribe.copyright}}
        {% comment %} &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a> {% endcomment %}
      </p>
    </div>
  </section>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="{% static "js/jquery-3.4.1.min.js" %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
  <script type="text/javascript" src="{% static "js/translator.js" %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->
</body>

</html>